---
import MainLayout from '../layouts/MainLayout.astro';
import projectData from '../components/projects.json';
import bookData from '../components/books.json';
import movieData from '../components/movies.json';

const projects = projectData;
const movies = movieData;
const books = bookData;
---

<MainLayout>
  <div class="circle-container">
    <div class="circle" id="circle"></div>
    <div class="dot" id="dot"></div>
  </div>

  <section class="section-container">
    <p>
     Hi, I’m Alex! I have 6 months of experience as a Software Engineer intern, and I created this website to showcase my socials, interests, and projects.   
     </p>
    <p>You can reach me here: <a href="mailto:alexocegueda59@gmail.com" rel="noopener noreferrer" target="_blank">alexocegueda59@gmail.com</a> or @deadmonosociety on Discord</p>
    <p>Socials: <a href="https://github.com/AlexOcegueda" rel="noopener noreferrer" target="_blank">[Github]</a> <a href="https://www.linkedin.com/in/alexocegueda/" rel="noopener noreferrer" target="_blank">[LinkedIn]</a></p>
  </section>

  <div class="heading-container" id="interests">
    <h2>Interests</h2>
  </div>
  <section class="section-container">
    <div class="interest-section">
      <h3>Languages</h3>
      <p>I like learning new languages for fun. I have a 720-day streak on Duolingo - most being spent on Spanish but
      I recently decided to learn German and Italian. I also practice American Sign Language (ASL) from a website called
      <a href="https://www.lifeprint.com/asl101/lessons/lessons.htm">Lifeprint</a>. I finished ASL 1 on there and plan to do up to course 4.</p>
    </div>
    <div class="interest-section">
      <h3>Books</h3>
      <p>Books have always been a source of inspiration and knowledge for me. 
      I love diving into different worlds and exploring new ideas through literature. Here are three of my favorite books:</p>
      <div class="grid-container">
        {books.map((book, index) => (
          <div class="grid-item" key={index} style="border: 1px solid whitesmoke; padding: 1rem; margin: 0.5rem;">
            <img src={book.img} alt={book.name} style="max-width: 100%; border-radius: 0.5rem;" />
            <h4>{book.name}</h4>
            <p>{book.description}</p>
          </div>
        ))}
      </div>
    </div>
    <div class="interest-section">
      <h3>Movies</h3>
      <p>Movies are another passion of mine. I love how they can transport you to different realities and evoke a wide range of emotions. 
      Here are three of my all-time favorite movies:</p>
      <div class="grid-container">
        {movies.map((movie, index) => (
          <div class="grid-item" key={index} style="border: 1px solid whitesmoke; padding: 1rem; margin: 0.5rem;">
            <img src={movie.img} alt={movie.name} style="max-width: 100%; border-radius: 0.5rem;" />
            <h4>{movie.name}</h4>
            <p>{movie.description}</p>
          </div>
        ))}
      </div>
    </div>
  </section>

  <div class="heading-container" id="projects">
    <h2>Projects</h2>
  </div>
  <main class="projects">
    {projects.map((project, index) => (
      <div class="project-container fade-in-out" data-project-id={project.id}>
        <div class="text-container">
          <h3>
            {project.displayName}
            {project.website && (
              <a href={project.website} target="_blank" rel="noopener noreferrer"> [Website]</a>
            )}
          </h3>
          <span id="tool">{project.tools.join(', ')}</span>
          <p class="project-description">{project.description}</p>
          <a class="github-link" href={project.link}>See on Github →</a>
        </div>
        <img src={project.image} alt="Project Image" style="border-radius: 1rem; object-fit: cover; max-width: 100%; height: auto;" />
      </div>
    ))}
  </main>
  <script type="module" src="/scripts/animations.js"></script>
</MainLayout>
