---
import MainLayout from '../layouts/MainLayout.astro';
import projectData from '../components/projects.json';

const projects = projectData;
---

<MainLayout>
  <div class="circle-container">
    <div class="circle" id="circle"></div>
    <div class="dot" id="dot"></div>
  </div>
  <div id="about"></div>
  <div class="about-container">
    <p id="about-me">
     Hi, I’m Alex! I have 6 months of experience as a Software Engineer intern, and I created this website to showcase my interests, projects, and socials.   
     </p>
    <p id="about-me">You can reach me here: <a href="mailto:alexocegueda59@gmail.com" rel="noopener noreferrer" target="_blank">alexocegueda59@gmail.com</a> or @deadmonosociety on Discord</p>
    <p id="about-me">Socials: <a href="https://github.com/AlexOcegueda" rel="noopener noreferrer" target="_blank">[Github]</a> <a href="https://www.linkedin.com/in/alexocegueda/" rel="noopener noreferrer" target="_blank">[LinkedIn]</a></p>
  </div>
  <div class="heading-container" id="projects">
    <h1 id="project-header">Projects</h1>
  </div>
  <main class="projects" id="projects">
    {projects.map((project, index) => (
      <div class="project-container fade-in-out" data-project-id={project.id}>
        <div class="text-container">
          <h2>{project.displayName}</h2>
          <span id="tool">{project.tools.join(', ')}</span>
          <p class="project-description">{project.description}</p>
          <a class="github-link" href={project.link}>See on Github →</a>
        </div>
        <img src={project.image} alt="Project Image" style="border-radius: 1rem; object-fit: cover; max-width: 100%; height: auto;" />
      </div>
    ))}
  </main>
  <script type="module" src="/scripts/animations.js"></script>
</MainLayout>
